
/*---------Navbar---------- */

*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: sans-serif;
}

#nav-bar 
{
position: sticky;
top: 0;
z-index: 10;
}

.navbar 
{
  background-image: linear-gradient(to right, #bf00ff, #ff00ff);  
  padding: 0 !important;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: white !important;
    font-size: 17.5px !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: white;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}

.navbar-brand
{
    font-weight: 600;
    font-size: 40px !important;
    
}


/*---------banner section---------- */

#banner
{
    background-image: linear-gradient(to right, #bf00ff, #ff00ff); 
    color: white;
    padding-top: 5%;
}

.big-title
{
    font-size: 60px;
    font-weight: 600;
    margin-top: 80px;
}

/* .rocket-img
{
  width: 300px;
} */

.big-para
{
    font-size: 20px;
  
}

.img-fluid
{
    width: 400px;
    position: relative;
    left: 50px;
   
}

.top-wave
{
    width: 100%;
  
}

/*-------Service Section--------- */

#services 
{
    padding: 80px 0;
}

.service-img
{
    width: 120px;
    margin-top: 20px;
}

.services
{
    padding: 20px;
}

.services-title
{
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.title-services::before
{
    content: '';
    background: #bf00ff;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(50px);
}

/* .title-services::after
{
    content: '';
    background: #bf00ff;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(13px);
} */

.title-services
{
    font-weight: 800;
}

#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #bf00ff, #ff00ff);
    font-weight: 700;
}

/* ---------About Us Section-------------- */

#about-us
{
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: rgba(244, 218, 247, 0.425); 
}

.about-title
{
    font-size: 40px;
    font-weight: 700;
    margin-top: 8%;
}

#about-us ul li
{
    margin: 15px 0;
}

.img-fluid
{
    width: 400px;
    position: relative;
    left: 50px;  
}

/* ----------Testimonials Section--------- */

#testimonials
{
    margin: 100px 0;
}

.testimonials
{
    border-left: 4px solid rgba(186, 136, 192, 0.425);
    margin-top: 50px;
    margin-bottom: 50px;
}

.client-testimonials 
{
    margin-top: 20px;
}

.testimonials img
{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details
{
    display: inline-block;
    font-size: 15px;
}

.title-services
{
    margin-bottom: 50px;
}

/* ------------Social Media------- */

#social-media
{
background-color: rgb(255, 255, 255);
padding: 100px 0;
}

#social-media p
{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.social-icons img
{
width: 60px;
transition: 0.5s;
}

.social-icons a:hover img
{
    transform: translateY(-10px);
}

/* -----------Footer----------- */

#footer
{
    background-image: linear-gradient(to right, #bf00ff, #ff00ff);
    color: rgb(255, 255, 255);
}

.footer-img
{
    width: 100%;
}

.footer-box
{
    padding: 20px;
    margin-bottom: 20px;
}

.footer-title
{
    font-size: 35px;
    color: black;
}

.footer-box .fa-solid
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #bf00ffb4, #ff00ff);
}

.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #bf00ffb4, #ff00ff);

}

hr
{
    background-color: white;
    height: 2px;
}

.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 500;
}